<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Browse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
    <ion-segment-button value="current">
      <ion-label>Current</ion-label>
    </ion-segment-button>
    <ion-segment-button value="upcoming">
      <ion-label>Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectedSegment === 'current'">
    <ion-grid>
      <ion-row>

        <!-- item cards  -->
        <ion-card *ngFor="let records of auction_current"  (click)="Get_recentAuction_View(records.auction_id, records.title)">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>{{records.title}}</ion-card-title>
            <ion-label>Auction Start : {{records.starting_time.replace(' 00:00:00','')}}</ion-label> 
            <ion-label>Auction End : {{records.ending_time.replace(' 00:00:00','')}}</ion-label> 
          </ion-card-header>
        
          <ion-card-content>
            {{records.description}}
          </ion-card-content> 
        </ion-card>  
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="selectedSegment === 'upcoming'">
    <ion-grid>
      <ion-row>

        <!-- item cards  -->
        <ion-card *ngFor="let records of auction_upcoming"  (click)="Get_recentAuction_View(records.auction_id, records.title)">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>{{records.title}}</ion-card-title>
            <ion-label>Auction Start : {{records.starting_time.replace(' 00:00:00','')}}</ion-label> 
            <ion-label>Auction End : {{records.ending_time.replace(' 00:00:00','')}}</ion-label> 
          </ion-card-header>
        
          <ion-card-content>
            {{records.description}}
          </ion-card-content> 
        </ion-card> 

      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="selectedSegment === 'past'">
    <ion-grid>
      <ion-row>
        <!-- item cards  -->
        <ion-card *ngFor="let records of auction_past"  (click)="Get_recentAuction_View(records.auction_id, records.title)">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>{{records.title}}</ion-card-title>
            <ion-label>Auction Start : {{records.starting_time.replace(' 00:00:00','')}}</ion-label> 
            <ion-label>Auction End : {{records.ending_time.replace(' 00:00:00','')}}</ion-label> 
          </ion-card-header>
        
          <ion-card-content>
            {{records.description}}
          </ion-card-content>  
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
