<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true" placeholder="Search Artist"></ion-searchbar>
  <ion-row class="borderBottom">
    <div>
      <swiper-container 
      [modules]="swiperModules"  
      [slidesPerView]="1.2"
      [initialSlide]="1"
      [keyboard]="true"
      [autoplay]="true"
      [spaceBetween]="20"
      [pagination]="{clickable:true, dynamicBullets: true}">
        <swiper-slide><img src="/assets/images/image1.png" alt="Slide 3"></swiper-slide>
        <swiper-slide><img src="/assets/images/image2.png" alt="Slide 3"></swiper-slide>
        <swiper-slide><img src="/assets/images/image3.png" alt="Slide 3"></swiper-slide>
      </swiper-container>  
    </div>
  </ion-row>
  
 
    <ion-list>
      <ion-list-header>
        <ion-label>
          <h4>Auctions</h4>
        </ion-label>
        <ion-button>See All</ion-button>
      </ion-list-header>
      <ion-item lines="none" *ngFor="let records of RecentAuctionRecords">
        <ion-thumbnail slot="start">
          <img  src="/assets/images/image1.png" alt="Slide 3"/>
        </ion-thumbnail>
        <ion-label>
          <h4>{{records.title}}</h4>
          <ion-text color="medium">
            <p class="pStyle">Description</p>
            <ion-text>
              <p>
                Current Bi: N/A
              </p>
            </ion-text>
          </ion-text>
        </ion-label>
      </ion-item> 
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>
          <h4>Artists For you</h4>
        </ion-label>
        <ion-button>See All</ion-button>
      </ion-list-header>
      <ion-item lines="none" *ngFor="let records of RecentAuctionRecords">
        <ion-thumbnail slot="start" class="circular-thumbnail">
          <img  src="/assets/images/pexels-andrea-piacquadio-733872.jpg" alt="Slide 3"/>
        </ion-thumbnail>
        <ion-label>
          <h4>Name</h4>
          <ion-text color="medium">
            <p class="pStyle">Town, BirthYear</p>
          </ion-text>
        </ion-label>
      </ion-item> 
    </ion-list>
<!-- 


  <div> 

      <ion-list>
        <ion-list-header>
          <ion-label>Recent Auctions</ion-label>
          <ion-button (click) = "SeeAllAuction()">See All</ion-button>
        </ion-list-header>
        <ion-item *ngFor="let records of RecentAuctionRecords">
          <ion-label>{{records.title}}</ion-label>
          <ion-button color="dark" (click)="Get_recentAuction_View(records.auction_id, records.title)">Visit<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> 
        </ion-item> 
      </ion-list> 

  </div> 

  <div>
    
    
    <ion-list>
      <ion-list-header>
        <ion-label>Popular Medium</ion-label>
        <ion-button>See All</ion-button>
      </ion-list-header>
    </ion-list>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Acrylic Paint</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Ink</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-subtitle>Watercolor</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

     
  </div> -->
</ion-content>