<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container>
    <swiper-slide><img src="/assets/images/image1.png" alt="Slide 3"></swiper-slide>
    <swiper-slide><img src="/assets/images/image2.png" alt="Slide 3"></swiper-slide>
    <swiper-slide><img src="/assets/images/image3.png" alt="Slide 3"></swiper-slide>
  </swiper-container>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Auction</ion-card-subtitle>
      </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Popular Medium</ion-card-subtitle>
      </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </div>
</ion-content>