.custom-container {
  height: 300px; /* Adjust the height as needed */
}

div {
  // transform: translate(10%);
  height: 28vh;
  width: 94%;
  margin: auto !important;
  swiper-container {
    swiper-slide {
      height: 24vh;
      img {
        width: 100%;
        height: 20vh;
        border-radius: 5px;
        box-shadow: - 1px 11px 13px -6px rgb(87, 86, 86)
      }
    }
  }
}

.borderBottom {
  border-bottom: 1.2vh solid var(--ion-color-light)
}

ion-label {
  font-size: 0.9rem;
  font-weight: bold;
  h4 {
    font-weight: bold;
    font-size:.9rem;
  }
  p {
    font-size: 0.7rem;
  }
}

.circular-thumbnail {
  width: 75px; /* Set your desired width */
  height: 75px; /* Set your desired height */
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Ensure the image stays within the circular boundaries */

  img {
    width: 100%; /* Make the image fill the circular container */
    height: 100%; /* Make the image fill the circular container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%; /* Ensure the image stays within the circular boundaries */
  }
}