<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Segment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
    <ion-segment-button value="medium">
      <ion-label>Medium</ion-label>
    </ion-segment-button>
    <ion-segment-button value="artists">
      <ion-label>Artists</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectedSegment === 'medium'">

    <ion-list> 
      <ion-item lines="none"  *ngFor="let records of artMediumList">
        <ion-thumbnail slot="start">
          <img  src="https://art-bid.000webhostapp.com/art--medium/{{records.remarks}}" alt="Slide 3"/>
        </ion-thumbnail>
        <ion-label>
          <h4>{{records.medium_type}}</h4>
          <ion-text color="medium">
            <p class="pStyle">{{records.medium_description}}</p> 
          </ion-text>
        </ion-label>
        <ion-button color="dark" (click)="viweArtByMedium(records.medium_id,records.medium_type)">View<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> 
      </ion-item> 
    </ion-list> 
  </div>
  <div *ngIf="selectedSegment === 'artists'">
    <ion-list> 
      <ion-item lines="none"  *ngFor="let records of ArtistList">
        <ion-thumbnail slot="start">
          <img  src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Slide 3"/>
        </ion-thumbnail>
        <ion-label>
          <h4>{{records.artist_name}}</h4>
          <ion-text color="medium">
            <p class="pStyle">{{records.artist_bio}}</p> 
          </ion-text>
        </ion-label>
        <ion-button color="dark" (click)="ViewArtist(records.artist_id)">View<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> 
      </ion-item> 
    </ion-list> 
  </div>
</ion-content>
