<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Artist View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="avatar">  
      <ion-row class="ion-justify-content-center">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-label>
        <br>
        <ion-title>{{artistData[0].artist_name}}</ion-title>
        <ion-card-subtitle>{{artistData[0].artist_contact_info}}</ion-card-subtitle>
        <ion-card-subtitle>{{artistData[0].artist_bio}}</ion-card-subtitle>
        
        </ion-label>
    </ion-row> 

  </div>
  
  <ion-row>

    <ion-grid>
      <ion-title>Artist's Gallery</ion-title>
      <ion-row>

        <!-- item cards  -->
        <ion-card *ngFor="let records of artistArtwork"> 
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>{{records.title}}</ion-card-title> 
          </ion-card-header>
        
          <ion-card-content>
            {{records.description}}
          </ion-card-content> 
        </ion-card>  
      </ion-row>
    </ion-grid>

  </ion-row>
</ion-content>
